<h1>New message to Admin</h1>

<%= form_for @message do |f| %>
  <%= hidden_field_tag 'receiver_id', 1 %>

  <%= f.label :body %>
  <%= f.text_area :body %>
<div class="send-message">
  <%= f.submit 'Send message'%>
</div>
<% end %>

<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> are between you and your profile right now:</h2>

    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
    </ul>
  </div>
<% end %>
