<h1>Chatting with Admin</h1>

<div id="conversation-main">
  <div id="conversation-body" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.messages %>
  </div>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= hidden_field_tag 'receiver_id', 1 %>
    <%= f.label :body %>
    <%= f.text_area :body %>
<div class="sendmessage">
    <%= f.submit 'Send message' %>
</div>
  <% end %>
</div>
