<div class="">

  <div class="row">
  </div>

    <div class="prod-show-left">
      <h4><%= product.name %></h4>
      <%= image_tag(product.picture_src, height: '500', width: '350') %>
    </div>

    <div class="prod-show-right">
      <%= form_for order_item, remote: true do |f| %>
      <h3> <%= product.name %> </h3>
      <span class="pricebefore" style="text-decoration: line-through"><%= product.pricebefore %> </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="priceafter"><%= product.priceafter %></span><br>
      <span> <%= product.description1 %></span><br>
        <h4> Color</h4>
        <% product.get_product_colors.each do |color| %>
          <%= color %>
        <% end %>
        <h4>Sizes</h4>
        <% product.get_product_sizes.each do |size| %>
          <%= size %>
        <% end %>
        <div class="">
          <%= f.number_field :quantity, value: 1, class: "", min: 1 %>
          <div class="">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :itemcode, value: product.itemcode %>
            <%= f.hidden_field :item_link, value: product.link_href %>
            <% if conversation %>
              <%= f.hidden_field :conv_id, value: conversation.id %>
            <% end %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary add-to-cart" %>
          </div>
        </div>
      <% end %>
    </div>

</div>
