<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCartExample</title>
  <%= javascript_include_tag 'application' %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "My Store", root_path %></h1>
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      </div>
    </div>
    <hr>

    <%= form_tag(get_results_path, method: :get, id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Odessu"%>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <% unless user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path%><br>
      <%= link_to "Sign In", new_user_session_path %>
    <% else %>
      <%= link_to "My profile", user_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% end %>


    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
